@font-face {
  font-family: "Wire One";
  font-style: normal;
  font-weight: 400;
  src: local("Wire One"),local(WireOne),url(//fonts.gstatic.com/s/wireone/v7/ZOPEDj_iSCdhLbA0kppOo_esZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/wireone/v7/rLTvRwYavTGtXnsB7H7e_PesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/wireone/v7/fas9dl2wmMkt5rCu-aBez_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Cond Light Italic"),local(OpenSans-CondensedLightItalic),url(//fonts.gstatic.com/s/opensanscondensed/v10/jIXlqT1WKafUSwj6s9AzV_mEZO9oFUxRsIusPr8huSn3rGVtsTkPsbDajuO5ueQw.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensanscondensed/v10/jIXlqT1WKafUSwj6s9AzVyqWG1TIildrkra2taUxHyT3rGVtsTkPsbDajuO5ueQw.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensanscondensed/v10/jIXlqT1WKafUSwj6s9AzV6XnXbwdDC8wAz6IIzmCDUP3rGVtsTkPsbDajuO5ueQw.woff) format("woff");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Cond Light"),local(OpenSans-CondensedLight),url(//fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xOnoCx_jK1JUF_-5xuexfsU.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBEur64QvLD-0IbiAdTUNXE.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff) format("woff");
}
@font-face {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"),local(OpenSans-CondensedBold),url(//fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xK1G_hHhJSbmG3TYw9dbn0A.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIF8zhZCJ7x9Pr62cRgaVUA.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff) format("woff");
}

/* FONTS */

/* COLOURS */ /* #23282E */ /* #BEBEBE */

/* SIZES */

/* Fix main font size */
.article > p, .article > ul > li, .article > ol > li, .side-block > ul > li > a, .article pre {
  font-size: 1.25em;
}

/* KEYFRAMES */

/*
http://codepen.io/NobodyRocks/pen/qzfoc
http://enjoycss.com/gallery/text_effects/39#text
http://cssdeck.com/labs/neon-signs-css3
*/

/* For nav */
@keyframes neon_nav {
  from {
    text-shadow:
      0 0 5px #0ff,
      0 0 10px #0ff,
      0 0 20px #0ff,
      0 0 30px #0ff
      ;
  }
  to {
    text-shadow:
      0 0 5px #0ff,
      0 0 10px #0ff,
      0 0 20px #0ff,
      0 0 30px #fff
      ;
  }
}

/* a */
@keyframes neon_link {
  from {
    text-shadow: 0 0 10px #fff,
    0 0 20px #0ff,
    0 0 30px #0ff
  }
  to {
    text-shadow: 0 0 2px #999,
    0 0 4px #099,
    0 0 6px #099
  }
}

/* ÉLÉMENTS DE BASE */

a {
  color: #0bb;
  text-decoration: none;
  transition: text-shadow 0.25s ease;
  outline: none
}

a:hover {
  color: #1BE2E0;
  animation: neon_link 1.5s ease-in-out infinite alternate;
}

blockquote {
  font-style: italic;
  border-left: 3px solid #000;
  margin: 0;
  padding: 0;
}

blockquote:first-child {
  margin-top: 0;
}

canvas {
  vertical-align: bottom; /* because <canvas> is inline */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  display: block;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

p:first-child, ol:first-child, ul:first-child {
  margin-top: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

/* LAYOUT */

html {
  margin: 0 0 150px 0;
  padding: 0;
}

html * {
  cursor: default;
}

body {
  background-color: #151515;
  color: #d8d8d8;
  font-family: 'Open Sans Condensed',sans-serif, sans-serif;
  line-height: 1.25;
  margin: 0;
  padding: 0;

  /* LARGE SCREEN */
}

body #header {
  background-color: black;
  height: 300px;
  width: 100%;
}

body #nav {
  background-color: black;
  border-bottom: 1px solid #1BE2E0;
  text-align: center;
}

body #nav a {
  font-family: 'Wire One',sans-serif;
  font-size: 200%;
  padding: 0.25em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap
}

body #nav a.on, body #nav a:hover {
  animation: neon_nav 0.5s ease-in-out infinite alternate;
  color: #bff;
}

body nav.breadcrumbs {
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

body #container {
  max-width: 64em;
  margin: 0 auto;
  padding: 0;
}

body #container .main {
  margin: 0;
  padding: 1em 0 100px 1em;
}

/* http://stackoverflow.com/questions/3203252/unicode-character-as-bullet-for-list-item-in-css */

body #container .main ul li {
  margin-bottom: 0.25em;
}

@media (min-width: 55em) {
  body .main {
    float: left;
    width: 65%;
  }
  body .aside {
    float: right;
    width: 30%;
  }
  }

/* CONTENU D'UN ARTICLE */

.article h1, .article h2, .article h3, .article h4, .article h5 {
  color: #8ff;
  font-family: 'Wire One',sans-serif;
  text-shadow: 0 0 10px #0FF,0 0 15px #0FF;
}

.article h1 {
  font-size: 400%;
  margin: 0;
  padding: 1em 0 1em 0;
  text-align: center;
  text-transform: uppercase;
}

.article h1 a {
  text-decoration: none
}

.article h2 {
  border-top: 1px solid #8ff;
  border-bottom: 1px solid #8ff;
  font-family: 'Wire One',sans-serif;
  font-size: 300%;
  margin: 1.5em 0 1em 0;
  padding: 10px 0;
  text-align: center;
}

.article h3 {
  font-size: 200%;
  letter-spacing: 2px;
  margin: 2em 0 1em 0;
  padding: 0.25em 0;
  text-transform: uppercase;
}

.article h4 {
  font-size: 150%;
  letter-spacing: 2px;
}

.article h5 {
  font-size: 100%;
  letter-spacing: 2px;
}

.article img {
  display: block;
  width: 100%;
  margin: 0;
}

.article p img:first-child {
  margin-top: 0;
}

.article hr {
  display: none;
}

.article p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0.5em 0;
  text-align: justify;
}

.article pre {
  margin: 1em 0 1em 3em;
}

.article table {
  margin: 2em auto;
}

.article th {
  padding: 1em;
}

.article td {
  padding: 0 0.5em;
}

.article table, .article td, .article th {
  border: 1px solid #8ff;
  border-collapse: collapse;
  text-align: center;
}

.article th {
  color: #0bb;
  font-family: 'Wire One',sans-serif;
}

.article .coolpreset {
  color: #1BE2E0;
  font-weight: bold;
}

.article ol {
  list-style: none;
  margin: 0 0 0 3em;
}

.article ul {
  list-style: none;
  margin: 0 0 0 3em;
}

.article ul > li:before {
  content: "⬣";
  display: inline-block;
  margin-left: -1em;
  width: 1em !important;
}

.article:first-child {
  margin-top: 0;
}

/* NAVIGATION */

.sub-nav {
  display: none;
}

ul.articleslist {
  list-style: none;
}

.article.in-listing {
  text-shadow: none;

  border: 1px solid transparent;
  margin-bottom: 0 !important;
  transition: border 0.5s ease-out, background-color 0.5s ease-out;
}

.article.in-listing a {
  animation: none;
}

.article.in-listing h1 {
  color: #8ff;
  font-family: 'Wire One',sans-serif;
  font-size: 175%;
  margin: 0;
  padding: 0 0 0 10px;
  text-align: left;
  text-shadow: 0 0 10px #0FF,0 0 15px #0FF;
  text-transform: none;
}

.article.in-listing .time {
  color: transparent;
  font-size: 105%;
  margin: 0;
  padding: 0 2px 2px 0;
  text-align: right;
}

.article.in-listing h1:hover ~ .time, .article.in-listing .time:hover {
  color: #555;
}

.article.in-listing:hover {
  background-color: #151515 * 1.25;
  border: 1px solid #1BE2E0;
}

.article.in-listing:hover * {
  transition: color 0.5s ease-out;
}

.article .s {
  border-top: 1px dashed #1BE2E0;
  margin: 3em 0;
  width: 100%;
}

.article ol li {}

.article ol.tree {
  list-style: none;
  letter-spacing: 1px;
  margin: 0 0 0 1em;
}

.article ol.tree ol {
  margin: 0 0 0 1.5em;
}

.article ol.tree > li {
  font-family: 'Wire One',sans-serif;
  font-size: 169%
}

/*ol.tree > li:before, ol.tree > li > ol > li:before {
    content: "⬣";
  }*/

.article ol.tree > li > ol > li {
  font-family: 'Wire One',sans-serif;
  font-size: 90%;
}

/* SIDE BAR */

.aside {
  margin-right: 1em;
}

.aside .side-block {
  margin: 4em 0 0 0;
  text-transform: lowercase;
}

.aside .side-block a {
  font-size: 105%;
}

.aside .side-block h2 {
  color: #8ff;
  font-family: 'Wire One',sans-serif;
  font-size: 250%;
  font-weight: normal;
  margin: 0 0 0.25em 0;
  padding: 0;
  text-align: right;
  text-shadow: 0 0 10px #0FF,0 0 15px #0FF;
}

.aside .side-block ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: right;
}

.aside .side-block ul li {
  display: inline-block;
  font-family: 'Open Sans Condensed',sans-serif;
  margin-left: -4px;
}

.aside .side-block ul li a {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 0.5em;
  transition: text-shadow 0.25s ease
}

.aside .side-block ul li a.on, .aside .side-block ul li a:hover {
  animation: neon_link 1.5s ease-in-out infinite alternate;
}

.aside .favorite-sites ul {
  display: block;
  text-align: right;
}