:root {
  --lr-margin: 33px;
}

.site-title {
  color: rgb(200, 255, 255);
  font-size: 3rem !important;
}

.site-title,
.right header {
  height: 150px;
}

.site-title,
.right header h2 {
  padding-top: 33px;
}

.right h2 {
  color: var(--gray3);
  font-size: 200%;
  font-weight: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.body {
  display: flex;
}

.body .left {
  height: 100vh;
  min-width: 300px;
  padding: 0 var(--lr-margin);
  text-align: right;
}

.body .right {
  border-left: 1px solid var(--link-color);
  padding: 0 var(--lr-margin) 1em var(--lr-margin);
  width: 100%;
}

.all-tags-tag-total-count {
  color: var(--gray1);
}

.page-tagged-with {
  color: var(--gray1);
}

.all-tags-list {
  list-style: none;
  list-style-type: none;
}