/*******************************************************************************
TITLES
*******************************************************************************/

.site-title {
  color: rgb(200, 255, 255);
  font-size: 3rem !important;
  height: 100px;
}

.site-title,
.right h2 {
  font-size: 200%;
  font-weight: normal;
  height: 100px;
  line-height: 100px;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 100%;
}

.right h2 {
  color: var(--gray3);
}

/*******************************************************************************
LAYOUT
*******************************************************************************/

.body {
  display: flex;
}

.body .left {
  border-right: 1px solid var(--link-color);
  height: 100vh;
  min-width: 300px;
  padding-right: 1em;
  text-align: right;
}

.body .right {
  padding: 0 var(--right-margin) 1em var(--right-margin);
  width: 100%;
}

/*******************************************************************************
LEFT
*******************************************************************************/

.tagTotalCount {
  color: var(--gray1);
}

.taggedWith {
  color: var(--gray1);
}

/*******************************************************************************
RIGHT
*******************************************************************************/

.tags {
  border-bottom: 1px solid var(--gray1);
  color: var(--gray1);
  margin-bottom: 3em;
  padding-bottom: 1em;
}

.right h3 {
  font-size: 150%;
  margin: 1em 0;
}

.right h4 {
  font-size: 100%;
  margin: 1em 0;
}

.right ul {
  list-style-type: none;
}

.right ul>li:before {
  content: "-";
  position: absolute;
  margin-left: -1.1em;
}

.right ul ul {
  margin-left: 2em;
}

.linkText {
  color: var(--gray1);
}