/* FONTS */

$ff-text: 'IM Fell DW Pica', sans-serif;
$ff-h: 'IM Fell English', sans-serif;
$f-nav: 'IM Fell English', sans-serif;
$f-mono: 'Space Mono', monospace;
$list-symbol: '⬣ ';
$f-rub: 'IM Fell English', sans-serif;
$f-aside: 'IM Fell English', sans-serif;

html {
  font-size: 120%;

  * {
    cursor: default;
    font-variant-ligatures: historical-ligatures;
  }
}
body {
  font-family: $ff-text, sans-serif;
}
#left {
  font-size: 90%;

  #nav {
    font-size: 150%;
    font-variant: small-caps;
  }
  nav.breadcrumbs {
    font-size: 85%;
    font-style: italic;
  }
}
.toc-block {
  font-size: 80%;
  & > ol > li {
    font-variant: small-caps;
    & > ol {
      font-variant: normal;
      & > li > ol {
        font-style: italic;
      }
    }
  }
}
.article {
  h1, h2, h3, h4, h5 {
    font-family: $ff-h;
    font-weight: normal;
    text-align: left;
  }
  h1 {
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    font-size: 135%;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-transform: uppercase;
  }
  h3 {
    font-size: 125%;
    font-weight: bold;
  }
  h4 {
    font-style: italic;
    font-weight: bold;
  }
  th {
    font-family: $ff-h;
  }
  .coolpreset {
    font-weight: bold;
  }
  ol.tree > li {
    font-family: $ff-h;
  }
  ol.tree > li > ol > li {
    font-family: $ff-h;
  }
}
.article.in-listing {
  h1 {
    font-size: 125%;
  }
}
.aside {
  .side-block {
    h2 {
      font-variant: small-caps;
      font-weight: normal;
    }
    ul {
      li {
        a {
          text-transform: lowercase !important;
        }
      }
    }
  }
}
a {
  text-decoration: none;
}
blockquote {
  font-style: italic;
}

/* COLOURS */

$c-bg: #000;
$c-side-bg: #222;
$c-line: #222;
$c-text: #fff;
$c-tocbg: #060606;
$c-a: #0aa;
$c-ahov: #0eb;
$c-abghov: #022;
$c-htwoborder: transparent;
$c-h1: $c-text;
$c-h2: #0eb;
$c-h3: #0eb;
$c-h4: #0eb;
$c-haside: #444;

a {
  color: $c-a;
  transition: color 444ms ease-in-out;

  &:hover {
    color: $c-ahov;
    transition: color 1ms ease-in-out;
  }
}
body {
  background-color: $c-bg;
  color: $c-text;
}
#left {
  background-color: $c-side-bg;
}
#nav {
  a {
    color: white;
  }
  a:hover {
    color: $c-ahov;
  }
}
.toc-block {
  background-color: $c-tocbg;
  border-color: $c-line;

  a {
    &:hover {
      color: $c-ahov;
    }
  }
}
.article {
  a {
    transition: background-color 333ms ease-in-out;

    &:hover {
      background-color: $c-abghov;
      transition: background-color 1ms ease-in-out;
    }
  }
  h1 {
    border-color: $c-h1;
    color: $c-h1;
  }
  h2 {
    border-bottom-color: $c-htwoborder;
    border-top-color: $c-htwoborder;
    color: $c-h2;
  }
  h3 {
    color: $c-h3;
  }
  h4 {
    color: $c-h4;
  }
}
.article.in-listing {
  a {
    h1 {
      color: $c-text;
      transition: color 333ms ease-in-out;
    }
    &:hover > h1 {
      color: $c-ahov;
      transition: color 1ms ease-in-out;
    }
  }
  .time {
    color: gray;
  }
}
.aside {
  .side-block {
    color: white;
  }
  h2 {
    color: $c-haside;
  }
}

/* GENERAL LAYOUT */
@media (min-width:55em) {
  #left {
    position: fixed;
    width: 25%;
  }
  #right {
    margin-left: 25%;
    position: relative;
  }
}
@media (max-width:55em) {
}
html {
  margin: 0;
  padding: 0;
  text-align: justify;
}
body {
  margin: 0;
  padding: 0;
}
#left {
  box-sizing: border-box;
  height: 100%;
  padding: 3em 1em 1em 1em;
}
#right {
  padding: 3em;
}
#nav {
  text-align: right;
}
nav.breadcrumbs {
  border-bottom: 1px solid $c-line;
  padding: 0 0 1em 0;
}
#container {
  max-width: 50em;
  margin: 2em 0 0 0;
  padding: 0;

  .main {
    margin: 0;
    padding: 0;
  }
}
.toc-block {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1em;
  padding: 0.25em 1em;

  a {
    display: block;
  }

  & > ol {
    margin: 0 !important;
  }
}
.toc-arrow a {
  margin-left: 0.1em;
  padding-left: 0.15em;
  padding-right: 0.15em;
}
.sub-nav {
  display: none;
}
.article.in-listing {
  h1, h2, h3, h4, h5 {
    text-align: left;
  }
  > div {
    margin-bottom: 1em;
  }
  h1 {
    border: none;
    margin: 0;
    padding: 0;
  }
  .time {
    margin: 0;
    padding: 0 2px 2px 0;
    text-align: left;
  }
}
.article {
  h1 {
    border-style: solid;
    border-width: 2px;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
  }
  h2 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 2em;
  }
  img {
    display: block;
    width: 100%;
    margin: 0;
  }
  p img:first-child {
    margin-top: 0;
  }
  hr {
    display: none;
  }
  &:first-child {
    margin-top: 0;
  }
  p {
    margin: 0.5em 0;
  }
  pre {
    margin: 1em 0 1em 3em;
  }
  table {
    margin: 2em auto;
  }
  th {
    padding: 1em;
  }
  td {
    padding: 0 0.5em;
  }
  table, td, th {
    border: 1px solid $c-h;
    border-collapse: collapse;
    text-align: center;
  }
  ol {
    list-style: none;
    margin: 0 0 0 3em;
  }
  ol.tree {
    list-style: none;
    letter-spacing: 1px;
    margin: 0 0 0 1em;

    ol {
      margin: 0 0 0 1.5em;
    }
  }
  ul {
    list-style: none;
    margin: 0 0 0 3em;

    > li:before {
      content: "⬣";
      display: inline-block;
      margin-left: -1em;
      width: 1.25em !important;
    }
  }
  p {
    hyphens: auto;
  }
  .s {
    border-top: 1px dashed $c-ahov;
    margin: 3em 0;
    width: 100%;
  }
}
.aside {
  .side-block {
    margin: 4em 0 0 0;
    text-align: right;

    h2 {
      margin: 0 0 0.33em 0;
    }
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      text-align: right;

      li {
        display: inline-block;
        margin-left: -4px;

        a {
          display: inline-block;
          margin: 0;
          padding: 0 0 0 0.5em;
          text-transform: lowercase !important;
        }
      }
    }
  }
  .favorite-sites {
    ul {
      display: block;
      text-align: right;
    }
  }
}
a {
  outline: none;
}
blockquote {
  border-left: 3px solid #000;
  margin: 0;
  padding: 0;
}
blockquote:first-child {
  margin-top: 0;
}
canvas {
  vertical-align: bottom; /* because <canvas> is inline */
}
img {
  display: block;
}
ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
p:first-child, ol:first-child, ul:first-child {
  margin-top: 0;
}
ul {
  li {
    margin: 0;
    padding: 0;
  }
}