<div class="main article" role="main">

  <h2>Articles associés au <i>tag</i> <em>{{ taxonomy_name|title }}</em>...</h2>
  <ul>
  <!-- <div class="taxonomy-results"> -->
  <!-- amleth : suppression du paramètre limit="4" -->
  <!-- amleth Nothing found for {{ taxonomy_name }}. -->
  <!-- { { theme:partial src="blog-listing" use_context="true" }} -->
  {{ entries:listing folder="blog" taxonomy="true" }}
    {{ if no_results }}
      <p class="sorry">Rien.</p>
    {{ else }}
      <li><a href="{{ url }}">{{ title }}</a></li>
    {{ endif }}
  {{ /entries:listing }}
  <!-- </div> -->
  </ul>

  <!-- amleth : lister, aussi, les pages -->
  <br>
  <h2>Pages associées au <i>tag</i> <em>{{ taxonomy_name|title }}</em>...</h2>
  <!-- <div class="taxonomy-results"> -->
  <ul>
    {{ pages:listing folder="*" taxonomy="true" }}
      {{ if no_results }}
      <p class="sorry">Rien.</p>
    {{ else }}
      <li><a href="{{ url }}">{{ title }}</a></li>
    {{ endif }}
    {{ /pages:listing }}
  </ul>
  <!-- </div> -->

</div>

<div class="aside" role="complementary">
  {{ theme:partial src="common-sidebar" }}
</div>