<!doctype html>
<html lang="en">
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>
  {{ _site_name }}
  {{ if segment_1 }}
  – {{ title }}
  {{ endif }}
</title>
{{ theme:css src="style" tag="true" }}
<link rel="shortcut icon" type="image/png" href="{{ theme:img src='favicon.png' }}">
</head>

<body>

<div id="header">
  <canvas id="nightsky" height="300"></canvas>
</div>

<div id="nav" role="navigation">
	<a href="/" {{ if is_current || is_parent }} class="on" {{ endif }}>
    <!--🌃--> {{ home }}
  </a>
	{{ nav from="/" }}
    <a href="{{ url }}" {{ if is_current || is_parent }} class="on" {{ endif }}>
      {{ title }}
    </a>
  {{ /nav }}
</div>

<nav class="breadcrumbs">
  <a href="/">Home</a>
  {{ nav:breadcrumbs include_home="no" }}
    {{ if is_current }}
        &nbsp;&nbsp;⬡&nbsp;&nbsp;{{ title }}
    {{ else }}
        &nbsp;&nbsp;⬡&nbsp;&nbsp;<a href="{{ url }}">{{ title }}</a>
    {{ endif }}
  {{ /nav:breadcrumbs }}
</nav>

<div id="container">
  {{ layout_content }}
</div>

{{ theme:js src="canvas" tag="true" }}

<script>
  draw();
</script>

</body>
</html>