@font-face {

  font-family: "IM Fell English";

  font-style: italic;

  font-weight: 400;

  src: local("IM FELL English Italic"),local(IM_FELL_English_Italic),url(//fonts.gstatic.com/s/imfellenglish/v7/Z3cnIAI_L3XTRfz4JuZKbuhAx3KKj4FNbQmSL-0gzbg.eot?#) format("eot"),url(//fonts.gstatic.com/s/imfellenglish/v7/Z3cnIAI_L3XTRfz4JuZKbmwF2xAZ8zQZAh2gFEDZc7E.woff2) format("woff2"),url(//fonts.gstatic.com/s/imfellenglish/v7/Z3cnIAI_L3XTRfz4JuZKblpL75J7D6p_Wd7CWKLWFR0.woff) format("woff");
}

@font-face {

  font-family: "IM Fell English";

  font-style: normal;

  font-weight: 400;

  src: local("IM FELL English Roman"),local(IM_FELL_English_Roman),url(//fonts.gstatic.com/s/imfellenglish/v7/xwIisCqGFi8pff-oa9uSVMWU0wPBDo3yC94zuYASqF4.eot?#) format("eot"),url(//fonts.gstatic.com/s/imfellenglish/v7/xwIisCqGFi8pff-oa9uSVAkYLEKE0CJQa8tfZYc_plY.woff2) format("woff2"),url(//fonts.gstatic.com/s/imfellenglish/v7/xwIisCqGFi8pff-oa9uSVMyhYfqH3mbn79-t0w0Xep4.woff) format("woff");
}

@font-face {

  font-family: "IM Fell DW Pica";

  font-style: italic;

  font-weight: 400;

  src: local("IM FELL DW Pica Italic"),local(IM_FELL_DW_Pica_Italic),url(//fonts.gstatic.com/s/imfelldwpica/v7/alQJ8SK5aSOZVaelYoyT4GTe48BDWQ4b8lPNvD4Ht5k.eot?#) format("eot"),url(//fonts.gstatic.com/s/imfelldwpica/v7/alQJ8SK5aSOZVaelYoyT4IS5YXW7F7YVj1YipatOEh8.woff2) format("woff2"),url(//fonts.gstatic.com/s/imfelldwpica/v7/alQJ8SK5aSOZVaelYoyT4PQV9SD565Vh4CeEot-NU_g.woff) format("woff");
}

@font-face {

  font-family: "IM Fell DW Pica";

  font-style: normal;

  font-weight: 400;

  src: local("IM FELL DW Pica Roman"),local(IM_FELL_DW_Pica_Roman),url(//fonts.gstatic.com/s/imfelldwpica/v7/W81bfaWiUicLSPbJhW-ATvzSy9b6OTAbtDOSPp_LoBA.eot?#) format("eot"),url(//fonts.gstatic.com/s/imfelldwpica/v7/W81bfaWiUicLSPbJhW-ATkUjQBM6Jl3k7SYs5pBZT1I.woff2) format("woff2"),url(//fonts.gstatic.com/s/imfelldwpica/v7/W81bfaWiUicLSPbJhW-ATno1aYbFHkK-jWDrR3dOoIA.woff) format("woff");
}

/* FONTS */

html {
  font-size: 120%;
}

html * {
    cursor: default;
    -webkit-font-feature-settings: "hlig";
            font-feature-settings: "hlig";
    -webkit-font-variant-ligatures: historical-ligatures;
            font-variant-ligatures: historical-ligatures;
  }

body {
  font-family: 'IM Fell DW Pica',sans-serif, sans-serif;
}

#left {
  font-size: 90%;
}

#left #nav {
    font-size: 150%;
    -webkit-font-feature-settings: "c2sc";
            font-feature-settings: "c2sc";
    font-variant: small-caps;
  }

#left nav.breadcrumbs {
    font-size: 85%;
    font-style: italic;
  }

.toc-block {
  font-size: 80%
}

.toc-block > ol > li {

  -webkit-font-feature-settings: "c2sc";

          font-feature-settings: "c2sc";

  font-variant: small-caps;
}

.toc-block > ol > li > ol {

  -webkit-font-feature-settings: normal;

          font-feature-settings: normal;

  font-variant: normal;
}

.toc-block > ol > li > ol > li > ol {

  font-style: italic;
}

.article h1, .article h2, .article h3, .article h4, .article h5 {
    font-family: 'IM Fell English',sans-serif;
    font-weight: normal;
    text-align: left;
  }

.article h1 {
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
  }

.article h2 {
    font-size: 135%;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-transform: uppercase;
  }

.article h3 {
    font-size: 125%;
    font-weight: bold;
  }

.article h4 {
    font-style: italic;
    font-weight: bold;
  }

.article th {
    font-family: 'IM Fell English',sans-serif;
  }

.article .coolpreset {
    font-weight: bold;
  }

.article ol.tree > li {
    font-family: 'IM Fell English',sans-serif;
  }

.article ol.tree > li > ol > li {
    font-family: 'IM Fell English',sans-serif;
  }

.article.in-listing h1 {
    font-size: 125%;
  }

.aside .side-block h2 {
      -webkit-font-feature-settings: "c2sc";
              font-feature-settings: "c2sc";
      font-variant: small-caps;
      font-weight: normal;
    }

.aside .side-block ul li a {
          text-transform: lowercase !important;
        }

a {
  text-decoration: none;
}

blockquote {
  font-style: italic;
}

/* COLOURS */

a {
  color: #0aa;
  transition: color 444ms ease-in-out
}

a:hover {

  color: #0eb;

  transition: color 1ms ease-in-out;
}

body {
  background-color: #000;
  color: #fff;
}

#left {
  background-color: #222;
}

#nav a {
    color: white;
  }

#nav a:hover {
    color: #0eb;
  }

.toc-block {
  background-color: #060606;
  border-color: #222;
}

.toc-block a:hover {

  color: #0eb;
}

.article a {
    transition: background-color 333ms ease-in-out
  }

.article a:hover {

  background-color: #022;

  transition: background-color 1ms ease-in-out;
}

.article h1 {
    border-color: #fff;
    color: #fff;
  }

.article h2 {
    border-bottom-color: transparent;
    border-top-color: transparent;
    color: #0eb;
  }

.article h3 {
    color: #0eb;
  }

.article h4 {
    color: #0eb;
  }

.article.in-listing a h1 {
      color: #fff;
      transition: color 333ms ease-in-out;
    }

.article.in-listing a:hover > h1 {

  color: #0eb;

  transition: color 1ms ease-in-out;
}

.article.in-listing .time {
    color: gray;
  }

.aside .side-block {
    color: white;
  }

.aside h2 {
    color: #444;
  }

/* GENERAL LAYOUT */

@media (min-width:55em) {
  #left {
    position: fixed;
    width: 25%;
  }
  #right {
    margin-left: 25%;
    position: relative;
  }
}

@media (max-width:55em) {
}

html {
  margin: 0;
  padding: 0;
  text-align: justify;
}

body {
  margin: 0;
  padding: 0;
}

#left {
  box-sizing: border-box;
  height: 100%;
  padding: 3em 1em 1em 1em;
}

#right {
  padding: 3em;
}

#nav {
  text-align: right;
}

nav.breadcrumbs {
  border-bottom: 1px solid #222;
  padding: 0 0 1em 0;
}

#container {
  max-width: 50em;
  margin: 2em 0 0 0;
  padding: 0;
}

#container .main {
    margin: 0;
    padding: 0;
  }

.toc-block {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1em;
  padding: 0.25em 1em;
}

.toc-block a {
    display: block;
  }

.toc-block > ol {

  margin: 0 !important;
}

.toc-arrow a {
  margin-left: 0.1em;
  padding-left: 0.15em;
  padding-right: 0.15em;
}

.sub-nav {
  display: none;
}

.article.in-listing h1, .article.in-listing h2, .article.in-listing h3, .article.in-listing h4, .article.in-listing h5 {
    text-align: left;
  }

.article.in-listing > div {
    margin-bottom: 1em;
  }

.article.in-listing h1 {
    border: none;
    margin: 0;
    padding: 0;
  }

.article.in-listing .time {
    margin: 0;
    padding: 0 2px 2px 0;
    text-align: left;
  }

.article h1 {
    border-style: solid;
    border-width: 2px;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
  }

.article h2 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 2em;
  }

.article img {
    display: block;
    width: 100%;
    margin: 0;
  }

.article p img:first-child {
    margin-top: 0;
  }

.article hr {
    display: none;
  }

.article:first-child {

  margin-top: 0;
}

.article p {
    margin: 0.5em 0;
}

.article pre {
    margin: 1em 0 1em 3em;
}

.article table {
    margin: 2em auto;
}

.article th {
    padding: 1em;
}

.article td {
    padding: 0 0.5em;
}

.article table, .article td, .article th {
    border: 1px solid $c-h;
    border-collapse: collapse;
    text-align: center;
}

.article ol {
    list-style: none;
    margin: 0 0 0 3em;
}

.article ol.tree {
    list-style: none;
    letter-spacing: 1px;
    margin: 0 0 0 1em;
}

.article ol.tree ol {
      margin: 0 0 0 1.5em;
    }

.article ul {
    list-style: none;
    margin: 0 0 0 3em;
}

.article ul > li:before {
      content: "⬣";
      display: inline-block;
      margin-left: -1em;
      width: 1.25em !important;
    }

.article p {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.article .s {
    border-top: 1px dashed #0eb;
    margin: 3em 0;
    width: 100%;
}

.aside .side-block {
    margin: 4em 0 0 0;
    text-align: right;
  }

.aside .side-block h2 {
      margin: 0 0 0.33em 0;
    }

.aside .side-block ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      text-align: right;
    }

.aside .side-block ul li {
        display: inline-block;
        margin-left: -4px;
      }

.aside .side-block ul li a {
          display: inline-block;
          margin: 0;
          padding: 0 0 0 0.5em;
          text-transform: lowercase !important;
        }

.aside .favorite-sites ul {
      display: block;
      text-align: right;
    }

a {
  outline: none;
}

blockquote {
  border-left: 3px solid #000;
  margin: 0;
  padding: 0;
}

blockquote:first-child {
  margin-top: 0;
}

canvas {
  vertical-align: bottom; /* because <canvas> is inline */
}

img {
  display: block;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

p:first-child, ol:first-child, ul:first-child {
  margin-top: 0;
}

ul li {
    margin: 0;
    padding: 0;
  }